body {
 margin: 0;
 display: flex;
 background-color: red;
 min-height: 100vh;
}

.main-container {
  background-color: yellow;
  order: 1;
  width: 100%
}

.main-sidebar {
  background-color: aqua;
  order: 0;
  width: 176px
}

.main-header {
  height: 80px;
  background-color: green;
  position: relative;

}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header li+li {
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
}

.main-header: nav, .search {
  position: absolute;
}

.user-menu {
  position: absolute;
  top: 0px;
  right: 0px;

}

.talk-menu {
  position: absolute;
  bottom:0px;
  left:0px;

}

.edit-menu {
  position: absolute;
  bottom:0px;
  right: 300px

}

.search {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.search input {
  width: 300px;
}


.biography {
  width: 270px;
  background-color: #f9f9f9;
  float: right;
  margin:6px 0 12px 12px;
  border:1px solid #aaa;
  padding: 25px;
  box-sizing: border-box;
}

.main-footer {
  background-color: purple;
  height: 150px;

}
