<!doctype html>
<html ng-app="curseApp">
  <head>
    <script src="angular.min.js"></script>
    <script src="curseApp.js"></script>-
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="main" ng-controller="MainController">
      <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a href="#" class="curse" ng-click="active='You sick fuck'">Generate curse</a>
      </nav>
      <p ng-hide="active">Satan is watching</p>
      <div class="flexbox">
        <span ng-repeat="w in words" ng-show="active"> {{words[getRandomIndex(words.length)].value}}</span>
        <br></br><b>{{active}}</b>
      </div>
    </div>
  </body>
</html>
